<!DOCTYPE html>
<html lang="en">
<head>
  <title>NearOnes Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">NearOnes</a>
    </div>
   
    <ul class="nav navbar-nav navbar-right">
      <li>   <form class="navbar-form navbar-left" action="/action_page.php">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
     
    </form> 
    
    </li>
     <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="list-group">
				 <a href="#" class="list-group-item list-group-item-action active"><b> Home  </b></a>
				<div class="list-group-item">
				<b>	Discover </b>
				</div>
				
				<div class="list-group-item justify-content-between">
				<b>	For Sale & Free </b> <span class="badge badge-secondary badge-pill">14</span>
				</div> 
				<a href="#" class="list-group-item list-group-item-action justify-content-between"><b> Notifications </b> <span class="badge badge-light badge-pill">14</span></a>
			<div class="list-group-item">
			  <b>		Chats </b>
				</div>
				
				<div class="list-group-item justify-content-between">
				<b>	Neighbours  </b><span class="badge badge-secondary badge-pill">14</span>
				</div>
				<div class="list-group-item justify-content-between" style="text-align: center;">
					<button type="button" class="btn btn-primary"> <b> + Post </b> </button>
				</div> 
			
			</div>
		</div>
		<div class="col-md-6">
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>

</body>
</html>

