<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>NearOnes</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/vlava/assets/img/favicon.png" rel="icon">
  <link href="static/vlava/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vlava/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vlava/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vlava/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vlava/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vlava/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/vlava/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/vlava/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="index.html">NearOnes</a></h1>
     </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Features</a></li>
          <li><a class="nav-link scrollto" href="#contact">Login</a></li>
          <li><a class="nav-link scrollto" href="#contact">SignUp</a></li>

          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <h1>Connect with Your Neighbours</h1>
      <h2>Connect, Chat & Share views about anything with your neighbours!</h2>
      <a href="#about" class="btn-get-started scrollto">Sign Up</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6">
            <h2>The All-in-one Neighbourhood App</h2>
            <h3>Join NearOnes to stay updated on local news, events, and resources within your neighborhood.</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              NearOnes connects people within local neighborhoods, providing a platform for residents to share news, events, and resources, fostering a strong community atmosphere.

            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Stay Connected with Your Neighborhood</li>
              <li><i class="ri-check-double-line"></i> Easily share and find resources within your neighborhood.</li>
              <li><i class="ri-check-double-line"></i> Get timely updates on neighborhood news and events.</li>
            </ul>
            <p class="fst-italic">
              Buy & Sell Goods & Services fast & easy. Connect with neighbors and build a strong community network.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Features</h2>
          <p>We offer the following features through NearOnes</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="">Local News Updates</a></h4>
            <p class="description">Get timely updates on neighborhood news and events.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="title"><a href="">Community Events
</a></h4>
            <p class="description">Discover and participate in local events and activities.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-bar-chart"></i></div>
            <h4 class="title"><a href="">Resource Sharing</a></h4>
            <p class="description">Easily share and find resources within your neighborhood.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-binoculars"></i></div>
            <h4 class="title"><a href="">Community Support</a></h4>
            <p class="description">Connect with neighbors and build a strong community network.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-brightness-high"></i></div>
            <h4 class="title"><a href="">Jobs</a></h4>
            <p class="description">Get to know latest jobs in your area</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-calendar4-week"></i></div>
            <h4 class="title"><a href="">Market Place</a></h4>
            <p class="description">Buy & Sell Goods & Services fast & easy</p>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

   
  
  
    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
        </div>

        <div class="row  d-flex align-items-stretch">

          <div class="col-lg-6 faq-item">
            <i class="bx bx-help-circle"></i>
            <h4>What is NearOnes?</h4>
            <p>
              NearOnes provides a platform for you to connect with neighbours for services, jobs, events, etc.
            </p>
          </div>

          <div class="col-lg-6 faq-item">
            <i class="bx bx-help-circle"></i>
            <h4>What features are provided in NearOnes?</h4>
            <p>
              Local News Updates, Jobs, Events, Community Support, Resource Sharing, Market Place, etc
            </p>
          </div>

          <div class="col-lg-6 faq-item">
            <i class="bx bx-help-circle"></i>
            <h4>How do I register?</h4>
            <p>
              You can register using the phone number using the link given at the top.
            </p>
          </div>

          <div class="col-lg-6 faq-item">
            <i class="bx bx-help-circle"></i>
            <h4>How do contact NearOnes?</h4>
            <p>
              You can contact us using the contact details given at the bottom.
            </p>
          </div>

         

        

        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Contact Us</h2>
          
        </div>
      </div>
      <div class="map">
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/place/NIRMA+UNIVERSITY,+Sarkhej+-+Gandhinagar+Hwy,+Gota,+Ahmedabad,+Gujarat+382481/@23.1276946,72.5445694,17z/data=!3m1!4b1!4m6!3m5!1s0x395e82eaa94e5c67:0x8be932b6cf1c65a6!8m2!3d23.1272422!4d72.5456233!16s%2Fg%2F11rhh8m33y?entry=ttu" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="container">
        <div class="row mt-5 justify-content-center">

          <div class="col-lg-10">

            <div class="info-wrap">
              <div class="row">
                <div class="col-lg-4 info">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Location:</h4>
                  <p>Ahmedabad<br>Gujarat 320008</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>info@nearones.com<br>contact@nearones.com</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>+91 9876543210</p>
                </div>
              </div>
            </div>

          </div>

        </div>

       

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">

      <div class="container">

        <div class="row  justify-content-center">
          <div class="col-lg-6">
            <h3>NearOnes</h3>
            <p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.</p>
          </div>
        </div>

        <div class="row footer-newsletter justify-content-center">
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email" placeholder="Enter your Email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>

        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>

      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>NearOnes</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="/">NearOnes</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vlava/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vlava/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vlava/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vlava/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vlava/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/vlava/assets/js/main.js"></script>

</body>

</html>